{
    "parserOptions": {
        "ecmaVersion": 2018,
        "ecmaFeatures": {
            "modules": true
        },
        "sourceType": "module"
    },
    "parser": "babel-eslint",
    "plugins": ["node", "prettier", "import", "jest"],
    "extends": [
        "airbnb-base",
        "eslint:recommended",
        "prettier"
    ],
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "webextensions": true,
        "jest": true
    },
    "rules": {
        "no-underscore-dangle": "off",
        "no-use-before-define": "off",
        "no-console": "off",
        "max-classes-per-file": "off",
        "no-plusplus": "off", // airbnb-base: irrelevant
        "import/prefer-default-export": "off" // irrelevant
    }
}
