# Dev directories
src
.babelrc
.eslintrc
.eslintignore
.gitignore
.gitmodules
jest.config.js
karma.conf.js
karma.conf.js-bitcore
karma.conf.js-buildtx
karma.conf.js-discovery
Makefile
docker_test
example
test
test_helpers
type
.nyc_output
coverage

# CI
.github

# Example directories
examples
gh-pages

# Fastxpub source
fastxpub
!lib/fastxpub/

# Dependency directory
node_modules
yarn.lock

# OSX
.DS_Store

# Editors
.editorconfig
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
.yarnclean

# NixOS
shell.nix
.bash_history_nix
